/* workout-list.component.css */

.workout-list-container {
  @apply max-w-xl mx-auto p-8 rounded-lg shadow-md;
  background-color: #2d3748; /* Dark gray background */
  color: #e2e8f0; /* Light gray text */
}

.filters {
  @apply mb-4;
}

.input {
  @apply border p-2 w-full rounded-md text-gray-200 placeholder-gray-400 focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-200;
  background-color: #4a5568; /* Dark gray input background */
}

.table-container {
  @apply bg-gray-200 shadow-md rounded-lg overflow-hidden;
}

.pagination {
  @apply mt-4 flex justify-between items-center;
}

.pagination button,
.pagination select {
  @apply px-4 py-2 text-sm border rounded bg-gray-700 text-gray-200 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
